*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;

}
body{
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
}
#base{
    width: 50%;
    height: 50%;
    border: 10px solid red;
}

.caja{
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

#caja2{
    border: 3px solid yellow;
    background-color: red;
}