* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    width: 100vw;
    height: 700vh;
    display: grid;
    font-family: Arial, sans-serif;
    background-color: #eb0808;
    grid-template-rows: 20% 20% 60%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
        "encabezado  encabezado  encabezado  encabezado"
        "navegacion  navegacion  navegacion  navegacion"
        "productos   productos   productos   productos"
        "secciones   secciones   secciones   secciones"
        "pie         pie         pie         pie";
}



.encabezado {
    grid-area: encabezado;
    background-color: #44af69;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegacion {
    grid-area: navegacion;
    background-color: rgb(245, 173, 185);
    display: flex;
    justify-content: center;
    align-items: center;
}

.productos {
    background-color: #da75f3;
    grid-area: productos;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicios {
    grid-area: servicios;
    background-color: #8bda0c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "seccion-1 seccion-2 seccion-3 seccion-4"
        "seccion-1 seccion-2 seccion-3 seccion-4";
    width: 100%;
    height: 100%;
}

.enlaces {
    grid-area: enlaces;
    background-color: #b88a0b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-1 {
    grid-area: seccion-1;
    background-color: #da75f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-2 {
    grid-area: seccion-2;
    background-color: #da75f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-3 {
    grid-area: seccion-3;
    background-color: #8bda0c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-4 {
    grid-area: seccion-4;
    background-color: #b88a0b;
    display: flex;
    justify-content: center;
    align-items: center;
}


.pie {
    grid-area: pie;
    background-color: #44af69;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* @media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "encabezado nav"
            "navegacion navegacion"
            "productos productos"
            "servicios servicios"
            "pie enlaces";
    }

} */

/* @media (max-width: 992px) {
    .grid-container {
        grid-template-columns: 200px 1fr 150px;
        grid-template-areas:
            "navegacion encabezado encabezado"
            "navegacion productos enlaces"
            "navegacion servicios enlaces"
            "navegacion pie pie";
    }
} */